.Template{
  background: linear-gradient(to right, #000428, #004e92);
  flex-grow: 1;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

